{% extends "base.html" %}

{% block app_content %}
<h1>{{_('Posts')}}</h1>

<a class="btn btn-info btn-xs" href="{{ url_for('new_post_expense') }}">{{ _('New expense post') }}</a>
<a class="btn btn-warning btn-xs" href="{{ url_for('new_post_income') }}">{{ _('New income post') }}</a>

<table class="table table-striped">
    <thead>
        <th>Id</th><th>{{_('Description')}}</th><th>{{_('Expense')}}</th><th>{{_('Income')}}</th><th>{{_('Amount')}}</th>
    </thead>
    {% for post in posts %} 
        <tr 
        {% if post.edescription==None %}
            class="warning"
        {% endif %}
        >
            <td>{{ post.id }}</td>
            <td>{{ post.description }}</td>
            {% if post.edescription==None %}
                <td></td>
            {% else %}
                <td>{{ post.edescription }}</td>
            {% endif %}
            {% if post.idescription==None %}
                <td></td>
            {% else %}
                <td>{{ post.idescription }}</td>
            {% endif %}
            <td>{{ format_price(post.amount) }}</td>
            <td><a class="btn btn-success btn-xs" href="{{ url_for('edit_post', id=post.id) }}">{{ _('Edit') }}</a></td>
            <td><a class="btn btn-danger btn-xs" onClick="onDelete({{ post.id }})">{{ _('Delete') }}</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}